body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.search-box {
    margin: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    background: white;
    margin: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 0 5px gray;
}

.book img {
    width: 100%;
}